@charset "UTF-8";

body{
  background-color:#1e90ff;
}

.Monday_lesson li{
  display:inline;
  list-style-type:none;
}

.Monday_lesson li:before{
  content:" > ";
}

.Monday_lesson li:first-child:before{
  content:"";
}

#menu ui{
  overflow:hidden;
}

#menu li{
  float:left;
  width:160px;
  border-right:white 1px solid;
  list-style-type:none;
}

#menu li:first-child{
  border-left:white 1px solid;
}

#menu a{
  display:block;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  background-color:#0000ff;
  color:white;
}

#menu a:hover{
  background-color:#87cefa;
  color:black;
}
