@charset "UTF-8";

body{
  background-color:#1e90ff;
}

.Monday_lesson li{
  display:inline;
  list-style-type:none;
}

.Monday_lesson li:before{
  content:" > ";
}

.Monday_lesson li:first-child:before{
  content:"";
}

#menu ul{
  overflow:hidden;
}

#menu li{
  float:left;
  width:170px;
  border-right:white 1px solid;
  list-style-type:none;
}

#menu li:first-child{
  border-left:white 1px solid;
}

#menu a{
  display:block;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  background-color:#0000ff;
  color:white;
}

#menu a:hover{
  background-color:#87cefa;
  color:black;
}

#menu a.selected{
  background-color:white;
  color:#00008b;
  font-weight:bold;
}

#logo ul{
  overflow:hidden;
}

#logo li{
  display:table-cell;
  vertical-align:middle;
  padding:0 10px;
  list-style-type:none;
}

#nav a{
  display:block;
  text-align:center;
  text-decoration:none;
  color:white;
}

#gnav a:after{
  clear:both;
}

#gnav div.img{
  display:table-cell;
  vertical-align:middle;
  background:url(../img/Kabel 3D ABC 300dpi.png) no-repeat;
  width: 55px;
  height:46px;
}

#gnav div.text{
  display:table-cell;
  vertical-align:middle;
  padding:10px 5px;
}

div.img#A{background-position:0 0px;}
div.img#B{background-position:0 -46px;}
div.img#C{background-position:0 -92px;}
div.img#D{background-position:0 -148px;}
div.img#E{background-position:0 -184px;}
